{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.address) }}
{{ form_row(form.website) }}
<button class="btn btn-success"><i class="bi bi-save"></i> Save</button>
<a href="{{ path('admin_editor_index') }}" class="btn btn-secondary">Cancel</a>
{{ form_end(form) }}
